<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">NanoNeck</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/user/profile">My Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/forums">Forums <span class="sr-only">(current)</span></a>
                </li>

                <form class="form-inline my-2 my-lg-0" action="/handler/customer_form.php" method="post">
                    <input class="form-control mr-sm-2" type="Query" placeholder="search" aria-label="Search" name="cid">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Query</button>
                </form>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/forums/newpost">New Post</a>
                    </div>
                </li>
            </ul>

            <div shiro:notAuthenticated="">
                <a class="btn btn-success" th:href="@{/toLogin}">Login</a>
                <a class="btn btn-primary" th:href="@{/user/signup}">Register</a>
            </div>
            <div shiro:Authenticated>
                    <a class="btn btn-danger" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
</div>