<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="views/common/html/navbar"></div>
<tbody>
<tr th:each="question : ${questions}">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title" th:text="${question.qTitle}">Card title</h5>
            <p class="card-text" th:text="'Section: '+${question.tname}">Support card subtitle</p>
            <p class="card-text" th:text="'Author: '+${question.username}">Support card subtitle</p>
            <p class="card-text" th:text="${question.qBody}"></p>
            <p class="card-text" th:text="${question.question_created_time}"></p>
            <p th:text = "${question.question_solved_time} ?:'Not Solved Yet'"/>
            <a th:href="editPage+'/'+${question.qid}" class="btn btn-primary">Edit</a>
        </div>
    </div>

</tr>
</tbody>
</body>
</html>